body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightblue;
  font-family: Arial, sans-serif;
}

.calculator {
  background-color: rgba(0, 0, 0, 0.925);
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
}

.display {
  width: 100%;
  max-width: 310px;
  border: none;
  background-color: black;
  color: white;
  font-size: 28px;
  text-align: right;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px 10px;
}

.left{
  text-align: left;
}

.keys {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

button {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: rgb(48, 47, 47);
  border: none;
  color: white;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: rgb(87, 85, 85);
  transition: background-color 0.5s ease;
}

.equal {
  width: 150px ;
  border-radius: 35px;
  color: white;
}

.orange:hover {
  background-color: orange;
}
.orange{
      background-color: rgb(201, 132, 4);
}
.lightgray{
  background-color: rgb(94, 93, 93);
}


.container {
  display: flex;
  gap: 50px;
  align-items: center;
}

.history {
  background-color: rgba(0, 0, 0, 0.925);
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  color: white;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history h2 {
  margin: 0 0 15px 0;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  color: orange;
}

#historyList {
  width: 100%;
  max-width: 300px;
  height: 400px;
  background-color: black;
  color: white;
  font-size: 20px;
  border-radius: 15px;
  padding: 10px;
  border: none;
  resize: none;
  overflow-y: auto;
  line-height: 1.6;
}
